body {
    background: url("../images/psychic_pic.jpg") no-repeat left fixed;
    background-size: 100%;
}
.container {
    position: relative;
    left: 25%;
    top: 30%;
    font-size: 120%;
}
.center {
    text-align: center;
}