body {
    background: url("../images/psychic_pic.jpg") no-repeat left fixed;
    background-size: 100% 100%;
}
.container {
    position: relative;
    width:25%;
  
    font-size: 120%;
}
.center {
    text-align: center;
}